#clickDisplay  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 35px; /* تكبير الطول قليلاً لتناسب دائرة الطاقة */
    border: 0.2px solid #181818;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-container {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    gap: 145px; /* مسافة بين النص والزر */
}

#vibrationText {
    font-size: 13px;
    white-space: nowrap;
    font-weight: bold;
}

/* زر التبديل */
.toggle-btn {
    position: relative;
    width: 45px;
    height: 23px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* الكرة داخل الزر */
.toggle-ball {
    position: absolute;
    top: 0.95px;
    right: 4px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
}

/* زر بحالة التشغيل */
.toggle-btn.active {
    background-color: #2D83EC;
}

.toggle-btn.active .toggle-ball {
    left: 26px;
}

/* زر بحالة الإيقاف */
.toggle-btn.inactive {
    background-color: red;
}

#clickSection {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 55px;
  border: 0.2px solid #181818;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 0; 
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*.energy-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circular-energy-bar {
  position: relative;
  width: 40px;
  height: 40px;
}

.progress-ring {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring__circle {
  stroke: #2D83EC;
  stroke-dasharray: 125.6;
  stroke-dashoffset: 0; 
  transition: stroke-dashoffset 0.5s ease;
}

.energy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5);
}

#energyInfo {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
  font-size: 13.5px;
  font-weight: 400; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
}*/

#clickCountDisplay {
  font-size: 18px;
  font-weight: 300; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
  text-align: left;
  flex: 1;
  margin-left: 5px;
  margin-right: 10px;
}

#claimButton {
  background-color: #F7F9FB;
  color: #000;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  width: 25%;
  height: 70%;
  font-size: 15px;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#claimButton:hover {
  background-color:#2D83EC;
  color: #fff;
}



.confetti-effect {
    position: fixed;
    top: 40px; /* تحت الإشعار مباشرة */
    left: 0;
    width: 100%; /* تملأ العرض بالكامل */
    height: auto; /* تحافظ على نسبة الصورة */
    z-index: 9999; /* فوق كل العناصر */
    pointer-events: none; /* لا تتفاعل مع الماوس */
    animation: fadeInOut 4s ease-in-out; /* تأثير الدخول والخروج */
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* شفافية */
    backdrop-filter: blur(2px); 
    display: none; 
    z-index: 400; /* أعلى من باقي العناصر */
}

.minee-container {
    left: 50%; /* تبدأ من منتصف الشاشة */
    transform: translateX(-50%); /* يتم تحريكها بشكل أفقي بحيث تكون بالمنتصف */
    width: 99%; /* تغطي كامل عرض الشاشة */
    height: 536px;
    position: absolute; /* تموضع مطلق */
    top: 102px; /* تبدأ من أسفل اشاشة */
    background: none; /* الخلفية السوداء */
    border-radius: 30px 30px 0 0; /* زوايا مستديرة */
} 
 
.container-gate {
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 60px;
    position: relative; /* استخدم relative لتجنب التداخل مع العناصر الأخرى */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 40px; /* المسافة بين البوابات وبقية المحتوى */
}

/* تنسيق كل بوابة */
.portal {
    position: relative;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.portal:hover {
    transform: scale(1.05);
}

/* تنسيق الصورة داخل البوابة */
.portal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* تنسيق محتوى البوابة */
.portal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 80%;
}

/* تنسيق العنوان داخل البوابة */
.portal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00c4cc; /* لون تركوازي */
}

/* تنسيق الوصف داخل البوابة */
.portal-description {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.9;
}

/* تنسيق للأجهزة الصغيرة */
@media (max-width: 768px) {
    .portal {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .portal {
        width: 100%;
    }
}

#mainPage {
    backdrop-filter: blur(3px); 
    padding-top: 50px; 
    overflow-y: auto; 
    background-clip: padding-box;
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 1); /* ظل داخلي لإضافة عمق للحواف */
}


#leaderboardnavbarBalanceDisplay, #miningnavbarBalanceDisplay, #BoostnavbarBalanceDisplay, #tasknavbarBalanceDisplay, #navbarBalanceDisplay,
#lvlnavbarBalanceDisplay, #puzzlenavbarBalanceDisplay, #AccountnavbarBalanceDisplay, #gnavbarBalanceDisplay {
    font-size: 13px;
    cursor: pointer;
    margin-left: 0;
    margin-right: 15px;
    left: 40px;
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 30px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
} 

#clickCountDisplay::before, 
#leaderboardnavbarBalanceDisplay::before,
#gnavbarBalanceDisplay::before,  
#navbarBalanceDisplay::before,  
#AccountnavbarBalanceDisplay::before, 
#tasknavbarBalanceDisplay::before, 
#puzzlenavbarBalanceDisplay::before,
#BoostnavbarBalanceDisplay::before, 
#lvlnavbarBalanceDisplay::before, 
#miningnavbarBalanceDisplay::before {
    content: ""; /* لا نحتاج نصًا هنا */
    display: inline-block;
    width: 38px; /* تحديد عرض الصورة */
    height: 38px; /* تحديد ارتفاع الصورة */
    background-image: url('https://saw-coin.github.io/image/Jsl.png'); /* مسار الصورة */
    background-size: cover; /* لتغطية العنصر بالصورة بشكل جيد */
    margin-right: 2px; /* مسافة بين الصورة والنص */
    margin-left: 0;
    vertical-align: middle; /* لضبط المحاذاة العمودية */
}

#globalNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 20px; 
    width: auto;
    height: 28px;
    z-index: 500;
    cursor: pointer;
   /* border: 1px solid #1c1c1c;*/
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

#balanceContainer {
    font-weight: bold;
}

#tasksPage {
    padding-top: 25px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 85px; /* مسافة سفلية */
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 1); /* ظل داخلي لإضافة عمق للحواف */
}


#accountPage {
    padding-top: 25px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 1); /* ظل داخلي لإضافة عمق للحواف */
}

#boostsPage {
    background-size: cover;
    padding-top: 25px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 1); /* ظل داخلي لإضافة عمق للحواف */
}




#leaderboardPage {
    padding-top: 25px;
    padding-bottom: 130px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    background-color: #1A1A1A;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
} 

.Leaders-image { 
    width: 150px;
    margin: 10px auto;
    height: auto;
    display: block;
}   

#Leaders-txt {
    text-shadow: 3px 3px #181818;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 22px; 
}

.leaderboard-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin: 0 auto;
    margin-bottom: 10px;
    height: 60px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
} 

.leaderboard-avatar {
    width: 42px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
   /* border: 1px solid #161616;*/
    padding: 2px;
    object-fit: cover;
}

.leaderboard-username {
    flex: 1;
    font-size: 13px;
    margin-left: 22px;
} 

.leaderboard-balance {
    font-size: 12px;
    color: #808080;
    text-align: center;
    margin-right: 10px;
}

#leaderboardWrapper {
  border-radius: 25px;
  margin: 10px auto;
  width: 100%;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  font-weight: 500; 
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

#Leaders-txxt {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  background-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  margin-left: 25px;
  text-align: center;
  flex: 1;
}

.leaderboard-item {
  margin-left: 18px;
  margin-right: 18px;
} 

.right {
  margin-right: 10px;
  text-align: right;
}

.left {
  margin-left: 10px;
  text-align: left;
}


.user-ranking {
    bottom: 70px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%; /* بدلاً من 98% */
    /*left: 50%;
    transform: translateX(-50%);*/
    height: 55px;
   /* box-sizing: border-box;*/
    margin: 5px auto;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.top-three-leaders {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    margin: 25px auto;
    width: 100%;
    position: relative;
}

.leader-rank {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px; /* العرض + البادينج */
    height: 25px; /* الطول + البادينج */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    color: #2D83EC;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} 

.leader {
    text-align: center;
}

.first-leader {
    position: relative;
    top: -20px;
}

.second-leader {
    position: relative;
    top: 10px;
}

.third-leader {
    position: relative;
    top: 15px;
}

.leader-image {
    border-radius: 50%;
    border: 3px solid transparent;
}

.leader-image.large {
    width: 90px;
    height: 90px;
    border-color: gold;
}

.leader-image.small {
    width: 70px;
    height: 70px;
}

.leader-name {
    margin-top: 15px;
    font-size: 14px;
    color: white;
}

.leader-balance {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
} 

.first-leader .leader-image {
    border-color: gold;
}

.second-leader .leader-image {
    border-color: silver;
}

.third-leader .leader-image {
    border-color: #808080;
}

.leader i {
    position: absolute;
    bottom: 137px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; /* العرض + البادينج */
    height: 50px; /* الطول + البادينج */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    font-size: 25px;
    color: #2D83EC;
    font-weight: bold;
}

.leaderboard-rank {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 20px; /* العرض + البادينج */
    height: 20px; /* الطول + البادينج */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    font-size: 11px;
    font-weight: bold;
} 

.horizontal-leaders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    box-sizing: border-box;
    width: 98%;
    gap: 5px; 
    position: relative;
}

.leaderseven-rank {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px; 
    height: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    color: #2D83EC;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} 

.horizontal-leaders .leader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.horizontal-leaders .leader-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #181818;
    margin-bottom: 5px;
}

.horizontal-leaders .leader-rank {
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.horizontal-leaders .leader-name {
    font-size: 11px;
    color: #fff;
    margin-top: 10px;
}

.horizontal-leaders .leader-balance {
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
}



#stingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 25px; 
    padding-right: 2px;
    width: auto;
    height: 30px;
    z-index: 500;
    border: 0.5px solid #181818;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
} 

#enrContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 25px; 
    width: auto;
    height: 30px; /* تكبير الطول قليلاً لتناسب دائرة الطاقة */
    z-index: 500;
    border: 0.5px solid #181818;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.energy-bar-container {
    display: flex;
    align-items: center;
    justify-content: center; /* توسيط دائرة الطاقة */
    width: 35.8px; /* نفس حجم الصورة الأصلية */
    height: 35.8px; /* نفس حجم الصورة الأصلية */
    border-radius: 50%; /* لضمان أن الحاوية تبقى دائرية */
    overflow: hidden; /* لضمان عدم خروج أي محتوى خارج الدائرة */
}

.circular-energy-bar {
    position: relative;
    width: 100%; /* ملء كامل مساحة الحاوية */
    height: 100%; /* ملء كامل مساحة الحاوية */
}

.progress-ring {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* ملء كامل الحاوية */
    height: 100%; /* ملء كامل الحاوية */
}

.progress-ring__circle {
    stroke: #2D83EC;
    stroke-dasharray: 100; /* يمكنك ضبط القيم حسب النسبة */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
}

.energy-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* يمكنك ضبط الحجم ليناسب التصميم */
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5);
}

#energyInfo {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
    font-size: 13.5px;
    font-weight: 400; 
    font-family: 'Archivo Black', sans-serif; 
}
