#noFriendsMessage {
    text-align: center;
    font-size: 14px;
    color: #808080;
    margin-top: 50px;
}

#invi {
    text-shadow: 3px 3px #181818;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 22px; 
}

.invite-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.invite-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #808080;
    font-size: 12px;
    font-weight: 450;
}

.invite-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #2D83EC;
    border-radius: 50%;
}

#WrapperFriends {
  border-radius: 25px;
  margin: 20px auto 5px auto;
  width: 97%;
  border: 0.5px solid #1c1c1c;
  height: 80px; /* زيادة الارتفاع لإفساح المجال للرقم */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  font-weight: 500;
  display: flex;
  justify-content: center; /* توسيط المحتوى أفقيًا */
  align-items: center; /* توسيط المحتوى عموديًا */
  text-align: center; /* توسيط النصوص داخل الحاوية */
}

#icInvitations {
  color: #fff;
  font-size: 13px;
  display: flex;
  flex-direction: column; /* جعل الكلمة فوق الرقم */
  align-items: center;
}

#invitedText {
  margin-bottom: 5px; 
  font-size: 17px; /* حجم النص العلوي */
}

#invitedCount {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  background-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  margin-top: 5px; /* مسافة بين الكلمة والرقم */
  font-size: 25px; /* تكبير حجم الرقم */
  font-weight: bold; /* جعل الرقم عريضًا */
}


.Invitations-image { 
    width: 150px;
    margin: 10px auto;
    height: auto;
    display: block;
}   

.invite {
    border: 0.5px solid #1c1c1c;
    position: relative; /* يتيح التحكم بالموقع داخل الحاوية */
    margin-left: auto; /* يدفع العنصر إلى أقصى اليمين */
    margin-right: auto; /* يدفع العنصر إلى أقصى اليسار */
    width: 95%; /* لضبط العرض لتجنب حدود الشاشة */
    padding: 5px; 
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    margin-bottom: 5px;
    margin-top: 15px;
}

.invite-section {
    display: flex;
    justify-content: center; /* يضع الزرين في المنتصف أفقياً */
    gap: 10px; /* يضبط المسافة بين الزرين */
    position: fixed; /* يتيح التحكم بالموقع داخل الحاوية */
    margin-left: auto; /* يدفع العنصر إلى أقصى اليمين */
    margin-right: auto; /* يدفع العنصر إلى أقصى اليسار */
    width: calc(100% - 40px); /* لضبط العرض لتجنب حدود الشاشة */
    padding: 10px; /* مساحة داخلية حول الأزرار */
    z-index: 100;
    bottom: 70px; 
}

.invite-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
} 

.invite-icon {
    width: 25px;
    height: 25px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

.copy-icon {
    width: 25px;
    height: 25px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
} 

.invite-icon img, .copy-icon img {
    vertical-align: middle;
}
 

.friends-list {
    margin: 10px auto; /* يضبط الهامش العلوي والسفلي بـ 5px ويجعل العنصر في المنتصف أفقيًا */
    width: 100%; /* العرض المحدد للحاوية */
    height: auto;
    list-style: none;
    color: #808080;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.0002);
    border-radius: 10px;
    display: block;
}

.friends-list li {
    font-weight: 500;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px; 
}

.invite-more {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 85%; 
    height: 50px;
    background: #F7F9FB;
    /*border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    color: #000;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invite-more i {
    font-size: 1.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5); /* تأثير الظلال للأيقونة */
} 

.invite-more:hover {
    background-color: #2D83EC;
    color: #fff;
} 

.invite-copy {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 25%; 
    height: 50px;
    background: #F7F9FB;
    color: #000;
    /*border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 

.invite-copy i {
    font-size: 1.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5); /* تأثير الظلال للأيقونة */
}   
 
.invite-copy:hover {
   background-color: #2D83EC;
   color: #fff;
} 

/* إضافة تأثير دوران عند النقر */
#refreshIcon:active {
    transform: rotate(360deg); /* تأثير دوران كامل */
}

.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.003);
    /*padding: 10px;*
   /* margin-bottom: 10px;*/
    width: 98%;
    height: 53px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.friend-item:hover {
    background-color: #101010;
}

.friend-info {
    display: flex;
    align-items: center;
}

.friend-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 15px; 
    border: 0.2px solid #161616;
}

.friend-name {
    margin-left: 5px; 
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}

.friend-balance {
    margin-right: 15px;
    font-size: 12px;
    color: #808080; /* لون مميز للرصيد */
    font-weight: 500;
    text-align: right; /* محاذاة الرصيد إلى اليمين */
}


.invite-card {
  background-color: rgba(0, 0, 0,0.00001);
  color: #fff;
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.invite-header h3 {
  font-size: 18px;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  background-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
}

.invite-content p {
  font-size: 11px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 500;
  color: #808080; 
}

