.walletTon-image {
    position: absolute; 
    top: 150px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 120px;
    height: auto;
    display: block;
    margin-bottom: 20px; 
    z-index: 0;
} 

.wallet-image {
    width: 140px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

.icon-wallet {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    color: #000; 
}

.wallet-button img {
    vertical-align: middle;
}  

#Buttoncontainer {
  position: absolute;
  width: 28%;
  height: 30px;
  border-radius: 20px; 
  top: 15px; /* المسافة من الأعلى */
  right: 0px; /* المسافة من اليمين */
  display: flex;
  gap: 15px; /* المسافة بين الأزرار */
  z-index: 1000; /* التأكد من أن الأزرار في المقدمة */
}


.wallet-button {
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
    width: 35px; /* تحديد عرض ثابت */
    height: 35px; /* نفس القيمة مثل العرض */
    padding: 0; /* لضبط المساحة الداخلية */
    border-radius: 50%;
    margin-left: 5px; 
}

.wallet-button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* إضافة ظل */
} 

.wallet-button i {
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #2D83EC, #4375ca); 
    -webkit-background-clip: text; /* تطبيق التدرج على النص */
    -webkit-text-fill-color: transparent; /* جعل النص شفافًا ليظهر التدرج */
} 

.wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* استخدام كامل الارتفاع */
}

/*.wallet-box {
    background-color: rgba(0, 0, 0, 0.0007);
    border-radius: 15px; 
    padding: 20px; 
    width: 85%;
    max-width: 400px; 
    margin: 0 auto;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.wallet-box p {
    font-size: 15px; 
    font-weight: bold;
    color: #808080; 
    margin-bottom: 10px;
}*/

/*#ton-connect {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0; 
}*/

/*#ton-connect button {
    background: #101010;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#ton-connect button:hover {
    background-color: #2D83EC;
}*/



.wallet-box {
    width: 100%; /* تأخذ 100px من الجانبين */
    height: 70px;
    margin: 0 auto; /* لتوسيط الحاوية */
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0007); 
}

#ton-connect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ton-connect button {
    background: #2D83EC;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 50%; /* ثلاث أرباع ارتفاع الحاوية */
    border-radius: 20px;
    padding: 8px 70px; 
    width: 100%; /* عرض الزر مساوي لعرض الحاوية */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#ton-connect button:hover {
    background-color: #101010;
} 
